.App {
  /*display: table;*/
  font-family: sans-serif;
  background-color: #fffff7;
}

.nav-main {
  background-color: inherit;
  height: 80px;
  margin-top: 25px;
}

#logo {
  color: darkgrey;
  text-align: center;
}

.sidebar {
  float: left;
  height: max-content;
  width: max-content;
  overflow-y: scroll;
  background-color: inherit;
}

.project-name {
  /*max-width: 100px;*/
  /*text-overflow: ellipsis;*/
  /*overflow: hidden;*/
  /*white-space: nowrap;*/
}

.project-icons {
  float: right;
  padding: 0 5px;
}

.experiment-header {
  background-color: inherit;
}

.project-status {
  position: relative;
  left: 2px;
  bottom: 3px;
}

.project-status:hover {
  cursor: pointer;
}

.experiment {
  width: 100%;
  display: table;
  background-color: inherit;
}

