.App {
  /*display: table;*/
  font-family: sans-serif;
  background-color: #fffff7;
}

.nav-main {
  background-color: inherit;
  height: 80px;
  margin-top: 25px;

}

#logo {
  color: darkgrey;
  text-align: center;
}

.sidebar {
  float: left;
  height: max-content;
  width: 25%;
  overflow-y: scroll;
  background-color: inherit;
}

.experiment-header {
  background-color: inherit;
}

.project-status {
  position: relative;
  left: 2px;
  bottom: 3px;
}

.project-status:hover {
  cursor: pointer;
}

.experiment {
  width: 100%;
  display: table;
  background-color: inherit;
}

