hr {
    margin: 16px 0;
    border-color: lightgray;
}

.waveform-element {
    display: grid;
    height: 100px;
    float: left;
    margin: .25em;
    border: 1px solid gray;
    padding: 5px;
    border-radius: 15px;
    min-width: 200px;
}

.waveform-header {
    display: flex;
    align-items: center;
}

.waveform-title {
    font-size: small;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-left: 5px;
}

.play-button {
    font-size: xx-large;
    color: gray;
}
