.App {
    /*display: table;*/
    /*font-family: sans-serif;*/
    /*background-color: #ffffff;*/
    /*overflow: auto;*/
    color: #2C2C2C;
}

.nav-main {
    background-color: inherit;
    height: 80px;
    margin-top: 25px;
}

#logo {
    color: darkgrey;
    text-align: center;
    position: relative;
    top: 20%;
}

.table-options {
    margin-bottom: 20px;
    height: 500px;
    width: max-content;
    overflow-y: scroll;
    border: 1px solid #8E8E8E;
}

.column-toggle {
    display: grid;
    /*float: left;*/
    width: 200px;
}

table {
    border-collapse: separate;
    border-spacing: 0;
    border: 1px solid #8E8E8E;
    color: black;
    white-space: nowrap;
}

thead {
    /*display: block;*/
    /*overflow: revert;*/
}

table th {
    position: sticky;
    background: white;
    top: 0;
    z-index: 8;
    min-width: 200px;
    max-width: 300px;
    height: 80px;
    border: 1px solid #8E8E8E;
}

table td {
    padding: 5px 0 10px 20px;
    border: 1px solid #8E8E8E;
}

.column-title {
    position: relative;
    top: 30%;
    left: 20px;
    float: left;
    /*color: #6D6D6D;*/
}

.column-icons {
    float: right;
    position: relative;
    top: 0;
    right: 0;
    display: grid;
    margin: 0 0 0 auto;
}

.column-icons i {
    margin: 0 3px 3px 3px;
    color: #6D6D6D;
}
.fa {
    color: #6D6D6D;
}
