.App {
  /*display: table;*/
  font-family: sans-serif;
  background-color: #ffffff;
}

.nav-main {
  background-color: inherit;
  height: 80px;
  margin-top: 25px;
}

#logo {
  color: darkgrey;
  text-align: center;
  position: relative;
  top: 20%;
}

.sidebar {
  float: left;
  font-size: small;
  height: max-content;
  width: max-content;
  overflow-y: scroll;
  background-color: inherit;
}

.project-name {
  /*max-width: 100px;*/
  /*text-overflow: ellipsis;*/
  /*overflow: hidden;*/
  /*white-space: nowrap;*/
}

.project-icons {
  float: right;
  padding: 0 5px;
}

.experiment-header {
  font-size: small;
  background-color: inherit;
  /*flex: 1;*/
  line-height: 2;
}

.uk-badge {
  margin: 0 2px;
  background-color: #2682b4;
}

.channels {
  /*font-size: medium;*/
  /*display: flex;*/
}

.channel {
  display: block;
  color: indianred;
}

.channel-name {
  display: inline-block;
  margin: 0 10px 0 0;
  min-width: 90px;
  font-weight: bold;
}

.channel-value {
  margin: 2px 10px 2px 0;
  min-width: 200px;
}

.property {
  display: -webkit-box;
}

.prop-name {
  display: block;
  width: 100px;
  font-weight: bold;
}

.prop-value {

}

.project-status {
  position: relative;
  left: 2px;
  bottom: 3px;
}

.project-status:hover {
  cursor: pointer;
}

.experiment {
  width: 100%;
  display: table;
  background-color: inherit;
}

