.parameter-section {
    float: left;
    font-size: small;
    background-color: inherit;
}

.parameter {
    display: table-row;
    /*border-bottom: 1px solid gray; has no effect with display: table-row...*/
}

.param-name {
    display: table-cell;
    font-weight: bold;
}

.param-value {
    display: table-cell;
    max-width: 200px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    padding: 0 20px;
}