
.zero-padding {
    padding-left: 0;
}

.experiment-header {
    margin-top: 20px;
    margin-bottom: 0px;
}

.waveform {
    background: transparent;
}

.audio-player {
    margin: 10px 0px;
}

.audio-grid {
    display: block;
    width: 300px;
    max-height: 1000px;
    margin: 0px 10px;
    float: left;
    overflow-y: auto;
}

.parameter-table {
    margin: 0px 10px;
    max-height: 1000px;
    overflow-y: auto;

}
