
.zero-padding {
    padding-left: 0;
}

.experiment-header {
    margin-top: 20px;
    margin-bottom: 0px;
}

.waveform {
    background: transparent;
}

.audio-player {
    margin: 10px 0px;
}

.audio-grid {
    /*max-height: 300px;*/
    overflow-y: auto;
}

.parameter-table {
    margin: 0;
}