hr {
    margin: 16px 0;
    border-color: lightgray;
}

.outputs {
    max-height: 560px;
    overflow: scroll;
}

.play-button {
    color: #2682b4;
    padding: 0 0;
    vertical-align: baseline;
    position: relative;
    top: -2px;
}

.waveform-title {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-bottom: 0;
}

div.no-uk * {
    all: initial;
}