$white: #f8ffe5;
$green: #d6ffc1;
$blue: #6996e6;
$red: #fce5e0;
$yellow: #fff9d4;

$dark-gray: #383838;
$light-gray: #919191;
$bright-gray: #cfcfcf;

$borders: 1px solid $light-gray;

html {
  background: white;
}

.App {
  font-family: sans-serif;
  color: $dark-gray;
  width: 100%;
  margin: 0 1% 3% 1%;

  .header {
    text-align: center;
    align-items: center;
    display: grid;

    #logo {
      height: 20px;
      margin: 25px auto;
      color: $bright-gray;
    }

    .info-modal {
      display: block;
      z-index: 9999;
      position: absolute;
      top: 20%;
      left: 50%;
      transform: translate(-50%, 0);
      margin: 0 auto;
      width: 50%;
      padding: 25px;
      text-align: left;
      border-radius: 10px;
      background: #fff;
    }

  }
}

.bg {
  width: 100vw;
  z-index: 9998;
  position: fixed;
  margin: 0;
  padding: 0;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.3);
}

.control-panel {
  display: block;

  .search-bar {
    width: max-content;
    margin: 40px auto 20px auto;

    input {
      width: 20vw;
      color: $dark-gray;
      padding: 0.75em;
      border: $borders;
      border-radius: 0.85em;
    }
  }

  .column-manager {
    width: 20vw;
    border: $borders;
    font-weight: bold;
    margin: 30px auto 20px auto;
    border-radius: 0.85em;

    .content {
      border-radius: 0.85em;
      height: 33vh;
      overflow-y: scroll;
    }

    .column-toggle {
      padding: 8px 2px;
      border-bottom: $borders;
    }

    .column-toggle:last-child {
      border-bottom: 0;
    }

    .column-toggle label {
      display: flex;
      align-items: center;
      margin-left: 1vw;
    }

    .column-name {
      margin-left: 8px;
    }
  }
}

table {
  position: relative;
  min-width: 98%;
  border-collapse: separate; /* Don't collapse */
  border-spacing: 0;
}

table th:first-child,
table td:first-child {
  border-left: $borders;
}

table tr th {
  position: sticky;
  background: white;
  top: 0;
  z-index: 999;
  border-top: $borders;
  border-bottom: $borders;
  border-right: $borders;
}

table td {
  min-width: 100px;
  padding: 10px;
  border-bottom: $borders;
  border-right: $borders;
  color: $dark-gray;
}

.header-element {
  display: flex;
  width: 100%;
}


.grouped-cell {
  background: $green;
}

.aggregated-cell {
  background: $yellow;
}

.placeholder-cell {
  background: $red;
}

.column-title {
  width: 100%;
  position: relative;
  top: 33%;
  float: left;
  margin: auto 5px;
}

.column-icons {
  display: grid;
}

.column-icons i {
  justify-self: right;
  margin: 0 3px 3px 3px;
  color: $light-gray;
}

.fa {
  color: $light-gray;
  cursor: pointer;
}

.audio-container {
  max-width: 100px;
}

hr {
  margin: 16px 0;
  border-color: lightgray;
}

.waveform-element {
  display: grid;
  height: 100px;
  float: left;
  margin: .25em;
  border: $borders;
  padding: 5px;
  border-radius: 15px;
  min-width: 200px;

}

.waveform-header {
  display: flex;
  align-items: center;
}

.waveform-title {
  font-size: small;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-left: 5px;
}

.play-button {
  font-size: xx-large;
  color: $blue;
}